.vscode/**
.vscode-test/**
src/**
tests/**
demos/**
out/**
!out/main.js
node_modules/**
.gitignore
.eslintrc.json
Taskfile.yml
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
**/*.d.ts
**/*.d.ts.map
